#opening {
	/* 首先我们要让这个div悬浮在窗口最顶层，也就是从片段中“脱离” */
	position: fixed;
	/* 然后修改div的位置，具体来说就是设置到窗口顶部和左侧的距离 */
	top: 0;
	left: 0;
	/* 然后顺便设置一下div的背景颜色，这里为了举例，随便设置一个灰色 */
	background-color: #888;
	/* 为了让玩家意识到这个东西能够点击，再设置一下鼠标移动到这里时的样式 */
	cursor: pointer;
	/* 再设置一下div的Z轴，也就是显示的优先级，越高也就越在其他元素的“前面” */
	z-index: 9999; /* 随便设置一个很大的值 */
	/* 然后设置div的宽度和高度，确保完全遮挡住后面的内容 */
	width: 100%;
	height: 100%;
	/* 到这里基本上算是完成了，吗？让我们来试一试 */
}

#text {
	/* 和刚刚设置开场画面的距离顶端距离一样,我们设置成距离父元素顶端30个普通字符的高度 */
	top: 30em;
	/* 然后是文字居中 */
	text-align: center;
	/* 然后是文字大小,10个普通字符的大小 */
	font-size: 10em;
}